body{background-color:#a4a3a1;}
p0
{ 
color: #2949dc;
font-size: 48px; 
font-family: Serif;
font-weight:900;
} 
p1
{
color: black;
font-size: 20px;
font-family: Courier;
font-weight:500;
}
p2
{
color: black;
font-size: 12px;
font-family: Courier;
font-weight:200;
}
body
{
font-size: 30px;
font-family: Courier;
font-weight:bold;
}
